<section class="review">
  <div class="review__title"><p>Add a review for {{movie.title}}</p></div>
  <form action="" method="post" class="review__form">
    <div>
      <input type="text" name="name" id="reviewName" />
      <label for="name">Your name</label>
    </div>
    <div class="review__rating--wrapper">
      <div
        class="review__rating"
        aria-label="Rating"
        role="meter"
        aria-valuemin="0"
        aria-valuemax="5"
        aria-valuenow="1"
      >
        <span aria-hidden="true" class="movieGrade" id="mg-1"></span>
        <span aria-hidden="true" class="movieGrade" id="mg-2"></span>
        <span aria-hidden="true" class="movieGrade" id="mg-3"></span>
        <span aria-hidden="true" class="movieGrade" id="mg-4"></span>
        <span aria-hidden="true" class="movieGrade" id="mg-5"></span>
      </div>
      <label for="review__rating">Grade</label>
    </div>

    <div class="review__message">
      <input type="text" name="msg" id="reviewMsg" />
      <label for="msg">What did you think?</label>
    </div>
  </form>
  <div class="review__post">
    <button id="postBtn">Post review</button>
  </div>
  
</section>

<script>
document.querySelectorAll('.movieGrade').forEach(span => {
    span.addEventListener('click', function() {
        // Get the index of the clicked span
        let index = Array.from(this.parentElement.children).indexOf(this) + 1;

        // Set the aria-valuenow attribute to the index
        this.parentElement.setAttribute('aria-valuenow', index);
    });
});

const postBtn = document.querySelector("#postBtn");



postBtn.addEventListener('click', () => {

const reviewComment = document.querySelector('#reviewMsg');
const ratingElement = document.querySelector('.review__rating');
const rating = ratingElement.getAttribute('aria-valuenow');
const nameOfAuthor = document.querySelector('#reviewName');
const verified = false;
// Get the current date
const currentDate = new Date();

// Convert the current date to Swedish time (Central European Time, CET, or Central European Summer Time, CEST)
const options = { timeZone: 'Europe/Stockholm' };
const swedishDate = currentDate.toLocaleString('sv-SE', options);
const movieId = {{movie.id}}
const msgToPost = JSON.stringify(`data:{ id: ${movieId}, attributes: {comment: ${reviewComment.value}, rating: ${rating}, author: ${nameOfAuthor.value}, verified: ${verified}, createdAt: ${swedishDate}, updatedAt: ${swedishDate}}, meta: {}`)

    console.log(msgToPost);
    console.log("test")
    });
</script>