<section class="history">
  <h2 class="history__headline">Vår historia</h2>
  <p class="history__content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultricies turpis in
    ultrices sodales. Vestibulum nec eros purus. Proin a eleifend augue. Phasellus consequat maximus
    quam, id molestie massa ullamcorper a. Donec id risus malesuada, porta mauris ac, blandit nisi.
    Quisque vitae libero in mauris dignissim lacinia ullamcorper non quam. Etiam auctor arcu quam,
    in egestas odio elementum eget. Aenean non tellus diam.
  </p>
</section>
<section class="sponsors">
  <h2 class="sponsors__headline">Våra sponsorer</h2>
  <div class="sponsors__sectionContainer">
    <div class="sponsors__introductionContainer">
      <p class="sponsors__introduction">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultricies turpis in
        ultrices sodales. Vestibulum nec eros purus. Proin a eleifend augue. Phasellus consequat
        maximus quam, id molestie massa ullamcorper a. Donec id risus malesuada, porta mauris ac,
        blandit nisi. Quisque vitae libero in mauris dignissim lacinia ullamcorper non quam. Etiam
        auctor arcu quam, in egestas odio elementum eget. Aenean non tellus diam.
      </p>
    </div>
    <div class="sponsors__logosContainer">
      <div class="sponsors__logosContainer--inner">
        <a href="#" class="sponsors__logo"><img
            class="sponsors__img"
            src="./static/assets/sponsorlogo.png"
            alt="Sponsor A"
          /></a>
        <a href="#" class="sponsors__logo"><img
            class="sponsors__img"
            src="./static/assets/sponsorlogo.png"
            alt="Sponsor B"
          /></a>
        <a href="#" class="sponsors__logo"><img
            class="sponsors__img"
            src="./static/assets/sponsorlogo.png"
            alt="Sponsor C"
          /></a>
        <a href="#" class="sponsors__logo"><img
            class="sponsors__img"
            src="./static/assets/sponsorlogo.png"
            alt="Sponsor D"
          /></a>
        <a href="#" class="sponsors__logo"><img
            class="sponsors__img"
            src="./static/assets/sponsorlogo.png"
            alt="Sponsor E"
          /></a>
        <a href="#" class="sponsors__logo"><img
            class="sponsors__img"
            src="./static/assets/sponsorlogo.png"
            alt="Sponsor F"
          /></a>
        <a href="#" class="sponsors__logo"><img
            class="sponsors__img"
            src="./static/assets/sponsorlogo.png"
            alt="Sponsor G"
          /></a>
        <a href="#" class="sponsors__logo"><img
            class="sponsors__img"
            src="./static/assets/sponsorlogo.png"
            alt="Sponsor H"
          /></a>
        <a href="#" class="sponsors__logo"><img
            class="sponsors__img"
            src="./static/assets/sponsorlogo.png"
            alt="Sponsor I"
          /></a>
        <a href="#" class="sponsors__logo"><img
            class="sponsors__img"
            src="./static/assets/sponsorlogo.png"
            alt="Sponsor J"
          /></a>
        <a href="#" class="sponsors__logo"><img
            class="sponsors__img"
            src="./static/assets/sponsorlogo.png"
            alt="Sponsor K"
          /></a>
        <a href="#" class="sponsors__logo"><img
            class="sponsors__img"
            src="./static/assets/sponsorlogo.png"
            alt="Sponsor L"
          /></a>
      </div>
    </div>
  </div>
</section>