<section class="frontpage">
  <h1 class="frontpage__mainTitle">Missa inte dessa kommande filmvisningar!</h1>
  <div class="frontpage__screenings"></div>
  <script type="module" src="/public/appendScreenings.js"></script>
</section>