<form class="login-form" action="/login" method="POST">
    <h1 login-form__title>Login to interact!</h1>
    <label class="login-form__label" for="username">Username:</label>
    <input class="login-form__input" type="text" id="username" name="username" required>
    <button class="login-form__button" type="submit">Log In</button>
</form>