<section class="movieContainer">
  <h1>Movies currently showing at the theater.</h1>
  {{#each movies}}
    <li class="movieContainer__movieLink">
      <a href="/movies/{{this.id}}">
        {{this.title}}
      </a>
    </li>
  {{/each}}
</section>