<script src="/static/individualScreenings.js" type="module" defer></script>
<script src="/static/reviewsForMovie.js" type="module" defer></script>
<script src="/static/fetchRatings.js" type="module" defer></script>
<section class="movieInformation">
  <div class="movieInformation__container">
    {{#if movie.image}}
    <img class="movieInformation__img" src="{{movie.image.url}}" />
    {{/if}}
    <h1 class="movieInformation__title">{{movie.title}}</h1>
    <div class="movieInformation__intro">
      {{{movie.intro}}}
    </div>
    <div class="movieInformation__screenings">
      <h2 class="movieInformation__screenigsHeading">Screenings</h2>
      <ul class="movieInformation__list">
      </ul>
    </div>
    <div class="movieInformation__reviewsContainer">
      <h2 class="movieInformation__reviewsHeading">Reviews</h2>
      <div class="movieInformation__oneReview"></div>
      <div class="movieInformation__reviewsArrows"></div>
      <div class="movieInformation__reviewsPagination"></div>
    </div>
    <div class="movieInformation__RatingValue">
      <h2 class="movieInformation__reviewsHeading">Rating</h2>
      <p class="movieInformation__presentValue"></p>
    </div>
  {{> postreview}}
    <a class="movieInformation__link" href="/movies">Back to movie page</a>
  </div>
</section>