<div class="news">
  <h2 class="news__title">Nyheter och evenemang</h2>
  <div class="news__buttonContainer">
    <button class="news__buttonContainer--newsButton">Evenemang</button>
    <button class="news__buttonContainer--newsButton">Nyheter</button>
  </div>
  <div class="news__container"></div>
</div>
