.frontpage {
  color: $colorFive;

  &__mainTitle {
    margin: 15px 0px;
  }

  &__screenings {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    margin-bottom: 15px;
  }

  &__title {
    margin-bottom: 5px;
    text-align: center;
  }
}

.login {
  text-decoration: none;
  margin-bottom: 50px;
}

.login{
  width: 20vw;
}
.login button {
  width: 100%;
  padding: 10px;
  background-color: $colorThree;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  
  &:hover {
    background-color: rgb(145, 9, 9)
  }
}


